<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tracking</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="store_top">
  {{#if store}}
    <div id="label_logo">
      {{#if store.store_logo}}
        <div class="section sec_logo">
          <img src="{{store.store_logo}}"> 
        </div>
      {{else}}
        <div class="section sec_logo" style="width:32px; height:32px;">
          <div class="placeholder_img ratio1-1"><label style="font-size:10px;">64x64</label></div>
        </div>
      {{/if}}
    </div>
    <div class="section sec_store_name">
      <label id="label_store_name">{{store.store_name}}</label>
    </div>
  {{/if}}
</div>

<div class="container edit">
  <a href="#" data-toggle="modal" data-target="#modal_store_name">(แก้ไข)</a>
  <a href="#" data-toggle="modal" data-target="#modal_store_logo">(เปลี่ยนโลโก้)</a>
</div>

<div class="section sec_img_1">
  <div id="label_img_1">
    {{#if store.store_img_1}}
        <img src="{{store.store_img_1}}"> 
    {{else}}
      <div class="placeholder_img ratio16-9"><label>851 x 315</label></div>
    {{/if}}
  </div>
</div>

<div class="container edit">
  <a href="#" data-toggle="modal" data-target="#modal_store_img_1">(เปลี่ยนรูป)</a>
</div>

<div class="section sec_store_detail">
  {{#if store.store_detail}}
    <label id="label_store_detail">{{store.store_detail}}</label>
  {{else}}
    <label id="label_store_detail">คำอธิบายร้าน...</label>
  {{/if}}
</div>

<div class="container wrap" style="margin-top:15px;">
  <div class="row">

  	<div class="col-sm-12">
  		<form class="form-inline search-form" style="margin-bottom:12px;">
  			<input type="hidden" id="store" value="{{store.store_uname}}">
  			<div class="left">
          <input type="text" class="form-control" id="key" placeholder="กรอกชื่อผู้รับ" style="padding:7px 10px;" value="{{key}}">
        </div>
        <div class="right">
  			  <button type="button" id="btn_search" class="btn btn-primary">ค้นหา</button>
        </div>
  		</form> 
    	{{#if list}}
    		<div class="table-responsive">
    			<table class="table table-bordered">
    			    <thead>
    			      <tr>
    			        <th>ชื่อ นามสกุล</th>
    			        <th>เลข Tracking</th>
    			        <th>ประเภท</th>
    			      </tr>
    			    </thead>
    			    <tbody>
    					{{#each list}}
    					<tr>
    						<td>{{this.list_fname}} {{this.list_lname}}</td>
    						<td>{{this.list_track_no}}</td>
    						<td>{{this.list_track_type}}</td>
    					</tr>
    					{{/each}}
    				</tbody>
    			</table>
    		</div>
    	{{else if search}}
    		<div>ไม่พบรายการที่ค้นหา</div>
    	{{/if}}
  	</div>

    <div class="col-sm-12">
      <div class="section sec_gal_1">
        <div id="label_gal_1">
          {{#if store.store_gal_1_img}}
            <div><img src="{{store.store_gal_1_img}}"></div>
          {{else}}
            <div class="placeholder_img ratio16-9"><label>1280 x 720</label></div>
          {{/if}}
        </div>
        <div class="edit"><a href="#" data-toggle="modal" data-target="#modal_gal_1">(แก้ไข)</a></div>
      </div>
    </div>

    <div class="col-4" style="padding-left:15px; padding-right:1px;">
      <div class="section sec_gal_2">
        <div id="label_gal_2">
          {{#if store.store_gal_2_img}}
            <div><img src="{{store.store_gal_2_img}}"></div>
          {{else}}
            <div class="placeholder_img ratio1-1"><label>1280 x 1280</label></div>
          {{/if}}
        </div>
        <div class="edit"><a href="#" data-toggle="modal" data-target="#modal_gal_2">(แก้ไข)</a></div>
      </div>
    </div>

    <div class="col-4" style="padding-left:8px; padding-right:8px;">
      <div class="section sec_gal_3">
        <div id="label_gal_3">
          {{#if store.store_gal_3_img}}
            <div><img src="{{store.store_gal_3_img}}"></div>
          {{else}}
            <div class="placeholder_img ratio1-1"><label>1280 x 1280</label></div>
          {{/if}}
        </div>
        <div class="edit"><a href="#" data-toggle="modal" data-target="#modal_gal_3">(แก้ไข)</a></div>
      </div>
    </div>

    <div class="col-4" style="padding-left:1px; padding-right:15px;">
      <div class="section sec_gal_4">
        <div id="label_gal_4">
          {{#if store.store_gal_4_img}}
            <div><img src="{{store.store_gal_4_img}}"></div>
          {{else}}
            <div class="placeholder_img ratio1-1"><label>1280 x 1280</label></div>
          {{/if}}
        </div>
        <div class="edit"><a href="#" data-toggle="modal" data-target="#modal_gal_4">(แก้ไข)</a></div>
      </div>
    </div>

  	<div class="col-sm-6">
  		<a href="{{store.store_line_link}}" id="label_line_link" target="_blank">
        <div class="section sec_line sec_social">
          {{#if store.store_line_id}}
  			    <label id="label_line_id">{{store.store_line_id}}</label>
          {{else}}
            <label id="label_line_id">line</label>
          {{/if}}
  		  </div>
      </a>
      <div class="edit"><a href="#" data-toggle="modal" data-target="#modal_line">(แก้ไข)</a></div>
    </div>

    <div class="col-sm-6">
      <a href="{{store.store_fb_link}}" id="label_fb_link" target="_blank">
    		<div class="section sec_fb sec_social">
          {{#if store.store_fb_uname}}
            <label id="label_fb_uname">{{store.store_fb_uname}}</label>
          {{else}}
            <label id="label_fb_uname">facebook</label>
          {{/if}}
    		</div>
      </a>
      <div class="edit"><a href="#" data-toggle="modal" data-target="#modal_fb">(แก้ไข)</a></div>
    </div>

    <div class="col-sm-6">
      <a href="{{store.store_ig_link}}" id="label_ig_link" target="_blank">
        <div class="section sec_ig sec_social">
          {{#if store.store_ig_uname}}
            <label id="label_ig_uname">{{store.store_ig_uname}}</label>
          {{else}}
            <label id="label_ig_uname">instagram</label>
          {{/if}}
        </div>
      </a>
      <div class="edit"><a href="#" data-toggle="modal" data-target="#modal_ig">(แก้ไข)</a></div>
    </div>

    <div class="col-sm-6">
      <a href="#" target="_blank">
        <div class="section sec_phone sec_social">
          {{#if store.store_phone}}
            <label id="label_phone">{{store.store_phone}}</label>
          {{else}}
            <label id="label_phone">เบอร์โทรศัพท์</label>
          {{/if}}
        </div>
      </a>
      <div class="edit"><a href="#" data-toggle="modal" data-target="#modal_phone">(แก้ไข)</a></div>
    </div>

    <div class="col-sm-12" align="center" style="margin-top:10px;">
      {{#if store}}
      <div id="label_logo">
        {{#if store.store_logo}}
          <div class="section sec_logo">
            <img src="{{store.store_logo}}" width="64" height="64"> 
          </div>
        {{else}}
          <div class="section sec_logo" style="width:64px; height:64px;">
            <div class="placeholder_img ratio1-1"><label style="font-size:14px;">Logo</label></div>
          </div>
        {{/if}}
        </div>
      {{/if}}
    </div>

  </div>
</div>

<!-- sec_store_logo -->
<div class="modal fade" id="modal_store_logo">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
      <div class="form-group">
        <form enctype="multipart/form-data" id="edit_logo">
          <label for="logo_preview">โลโก้ร้าน:</label>
          {{#if store.store_logo}}
            <div><img src="{{store.store_logo}}" id="logo_preview" ></div>
          {{else}}
            <div><img src="/images/original.png" id="logo_preview" ></div>
          {{/if}}
          <div><input type="file" id="logo_upload" name="logo_upload"></div>
        </form>
      </div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal_store_logo_save">บันทึก</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<!-- sec_store_img_1 -->
<div class="modal fade" id="modal_store_img_1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
      <div class="form-group">
        <form enctype="multipart/form-data" id="img_1">
          <label for="img_1_preview">โลโก้ร้าน:</label>
          {{#if store.store_img_1}}
            <div><img src="{{store.store_img_1}}" id="img_1_preview" ></div>
          {{else}}
            <div><img src="/images/original.png" id="img_1_preview" ></div>
          {{/if}}
          <div><input type="file" id="img_1_upload" name="img_1_upload"></div>
        </form>
      </div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal_store_img_1_save">บันทึก</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<!-- sec_store_name -->
<div class="modal fade" id="modal_store_name">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form id="edit_store_name">
	        	<div class="form-group">
					<label for="store_uname">ยูเซอร์เนมร้าน:</label>
					<input type="text" class="form-control" id="store_uname" name="store_uname" value="{{store.store_uname}}" disabled="true">
				</div>
				<div class="form-group">
					<label for="store_name">ชื่อร้าน:</label>
					<input type="text" class="form-control" id="store_name" name="store_name" value="{{store.store_name}}">
				</div>
				<div class="form-group">
					<label for="store_detail">คำอธิบายร้าน:</label>
					<input type="text" class="form-control" id="store_detail" name="store_detail" value="{{store.store_detail}}">
				</div>
			</form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        	<button type="button" class="btn btn-primary" id="modal_store_name_save">บันทึก</button>
        	<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<!-- sec_line -->
<div class="modal fade" id="modal_line">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form id="edit_line">
				<div class="form-group">
					<label for="line_id">ไลน์ไอดี:</label>
					<input type="text" class="form-control" id="line_id" name="store_line_id" value="{{store.store_line_id}}">
				</div>
				<div class="form-group">
					<label for="line_link">ลิ้งไป line:</label>
					<input type="text" class="form-control" id="line_link" name="store_line_link" value="{{store.store_line_link}}">
				</div>
			</form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        	<button type="button" class="btn btn-primary" id="modal_line_save">บันทึก</button>
        	<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<!-- sec_fb -->
<div class="modal fade" id="modal_fb">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form id="edit_fb">
				<div class="form-group">
					<label for="fb_uname">ชื่อ facebook:</label>
					<input type="text" class="form-control" id="fb_uname" name="store_fb_uname" value="{{store.store_fb_uname}}">
				</div>
				<div class="form-group">
					<label for="fb_link">ลิ้งไป facebook:</label>
					<input type="text" class="form-control" id="fb_link" name="store_fb_link" value="{{store.store_fb_link}}">
				</div>
			</form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        	<button type="button" class="btn btn-primary" id="modal_fb_save">บันทึก</button>
        	<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<!-- sec_ig -->
<div class="modal fade" id="modal_ig">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
          <form id="edit_ig">
        <div class="form-group">
          <label for="ig_uname">ชื่อ instagram:</label>
          <input type="text" class="form-control" id="ig_uname" name="store_ig_uname" value="{{store.store_ig_uname}}">
        </div>
        <div class="form-group">
          <label for="ig_link">ลิ้งไป instagram:</label>
          <input type="text" class="form-control" id="ig_link" name="store_ig_link" value="{{store.store_ig_link}}">
        </div>
      </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal_ig_save">บันทึก</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<!-- sec_phone -->
<div class="modal fade" id="modal_phone">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
          <form id="edit_phone">
        <div class="form-group">
          <label for="phone">เบอร์โทรศัพท์:</label>
          <input type="text" class="form-control" id="phone" name="store_phone" value="{{store.store_phone}}">
        </div>
      </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal_phone_save">บันทึก</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<!-- sec_gal_1 -->
<div class="modal fade" id="modal_gal_1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
          <form enctype="multipart/form-data" id="edit_gal_1">
            <label for="gal_1_preview">รูปภาพ:</label>
            {{#if store.store_gal_1_img}}
              <div><img src="{{store.store_gal_1_img}}" id="gal_1_preview"></div>
            {{else}}
              <div><img src="/images/original.png" id="gal_1_preview"></div>
            {{/if}}
            <div><input type="file" id="gal_1_upload" name="gal_1_upload"></div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal_gal_1_save">บันทึก</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<!-- sec_gal_2 -->
<div class="modal fade" id="modal_gal_2">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
          <form enctype="multipart/form-data" id="edit_gal_2">
            <label for="gal_2_preview">รูปภาพ:</label>
            {{#if store.store_gal_2_img}}
              <div><img src="{{store.store_gal_2_img}}" id="gal_2_preview"></div>
            {{else}}
              <div><img src="/images/original.png" id="gal_2_preview"></div>
            {{/if}}
            <div><input type="file" id="gal_2_upload" name="gal_2_upload"></div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal_gal_2_save">บันทึก</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<!-- sec_gal_3 -->
<div class="modal fade" id="modal_gal_3">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
          <form enctype="multipart/form-data" id="edit_gal_3">
            <label for="gal_3_preview">รูปภาพ:</label>
            {{#if store.store_gal_3_img}}
              <div><img src="{{store.store_gal_3_img}}" id="gal_3_preview"></div>
            {{else}}
              <div><img src="/images/original.png" id="gal_3_preview"></div>
            {{/if}}
            <div><input type="file" id="gal_3_upload" name="gal_3_upload"></div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal_gal_3_save">บันทึก</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div

<!-- sec_gal_4 -->
<div class="modal fade" id="modal_gal_4">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header
        <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        -->
        
        <!-- Modal body -->
        <div class="modal-body">
          <form enctype="multipart/form-data" id="edit_gal_4">
            <label for="gal_4_preview">รูปภาพ:</label>
            {{#if store.store_gal_4_img}}
              <div><img src="{{store.store_gal_4_img}}" id="gal_4_preview"></div>
            {{else}}
              <div><img src="/images/original.png" id="gal_4_preview"></div>
            {{/if}}
            <div><input type="file" id="gal_4_upload" name="gal_4_upload"></div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal_gal_4_save">บันทึก</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#btn_search').on('click', function(e) {
        var store = $("#store").val();
        var key = $("#key").val();
        window.location.replace("/store/" + store + "/search/" + key);
    });

    function preview(input, preview) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $(preview).attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    function preview_2(input, preview) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $(preview).html("<img src='" + e.target.result + "'>");
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#logo_upload").change(function() {
      preview(this, '#logo_preview');
    });

    $('#modal_img_logo_save').on('click', function(e) {
      var fileSelect = document.getElementById('logo_upload');

        var action = "logo";
        var form = document.getElementById('edit_logo');
        var data = new FormData(form);
        $.ajax({
          url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
          type: 'POST',
          data: data,
          processData: false,
          contentType: false,
          success: function(res) {
        if(res == true) {
          preview_2(fileSelect, '#label_logo');
          alert('บันทึกเรียบร้อย');
        }
        else alert(res);
          },
          error: function(err) {
            alert("Error: ", err)
          },
          crossDoamin: true
        })
    });

    $("#img_1_upload").change(function() {
      preview(this, '#img_1_preview');
    });

    $('#modal_store_img_1_save').on('click', function(e) {
      var fileSelect = document.getElementById('img_1_upload');

        var action = "img_1";
        var form = document.getElementById('edit_img_1');
        var data = new FormData(form);
        $.ajax({
          url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
          type: 'POST',
          data: data,
          processData: false,
          contentType: false,
          success: function(res) {
        if(res == true) {
          preview_2(fileSelect, '#label_img_1');
          alert('บันทึกเรียบร้อย');
        }
        else alert(res);
          },
          error: function(err) {
            alert("Error: ", err)
          },
          crossDoamin: true
        })
    });

    $('#modal_store_name_save').on('click', function(e) {
        var action = "store_name";
        var form = document.getElementById('edit_store_name');
        var data = new FormData(form);
        $.ajax({
        	url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
        	type: 'POST',
        	data: data,
        	processData: false,
        	contentType: false,
        	success: function(res) {
				if(res == true) {
					$('#label_store_name').html($('#store_name').val());
					$('#label_store_detail').html($('#store_detail').val());
					alert('บันทึกเรียบร้อย');
				}
				else alert(res);
        	},
        	error: function(err) {
        		alert("Error: ", err)
        	},
        	crossDoamin: true
        })
    });

    $('#modal_line_save').on('click', function(e) {
        var action = "line";
        var form = document.getElementById('edit_line');
        var data = new FormData(form);
        $.ajax({
        	url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
        	type: 'POST',
        	data: data,
        	processData: false,
        	contentType: false,
        	success: function(res) {
				if(res == true) {
					$("#label_line_link").attr("href", $('#line_link').val());
					$('#label_line_id').html($('#line_id').val());
					alert('บันทึกเรียบร้อย');
				}
				else alert(res);
        	},
        	error: function(err) {
        		alert("Error: ", err)
        	},
        	crossDoamin: true
        })
    });

    $('#modal_fb_save').on('click', function(e) {
        var action = "fb";
        var form = document.getElementById('edit_fb');
        var data = new FormData(form);
        $.ajax({
        	url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
        	type: 'POST',
        	data: data,
        	processData: false,
        	contentType: false,
        	success: function(res) {
				if(res == true) {
					$("#label_fb_link").attr("href", $('#fb_link').val());
					$('#label_fb_uname').html($('#fb_uname').val());
					alert('บันทึกเรียบร้อย');
				}
				else alert(res);
        	},
        	error: function(err) {
        		alert("Error: ", err)
        	},
        	crossDoamin: true
        })
    });

    $('#modal_ig_save').on('click', function(e) {
        var action = "ig";
        var form = document.getElementById('edit_ig');
        var data = new FormData(form);
        $.ajax({
          url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
          type: 'POST',
          data: data,
          processData: false,
          contentType: false,
          success: function(res) {
        if(res == true) {
          $("#label_ig_link").attr("href", $('#ig_link').val());
          $('#label_ig_uname').html($('#ig_uname').val());
          alert('บันทึกเรียบร้อย');
        }
        else alert(res);
          },
          error: function(err) {
            alert("Error: ", err)
          },
          crossDoamin: true
        })
    });

    $('#modal_phone_save').on('click', function(e) {
        var action = "phone";
        var form = document.getElementById('edit_phone');
        var data = new FormData(form);
        $.ajax({
          url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
          type: 'POST',
          data: data,
          processData: false,
          contentType: false,
          success: function(res) {
        if(res == true) {
          $('#label_phone').html($('#phone').val());
          alert('บันทึกเรียบร้อย');
        }
        else alert(res);
          },
          error: function(err) {
            alert("Error: ", err)
          },
          crossDoamin: true
        })
    });

    $("#gal_1_upload").change(function() {
      preview(this, '#gal_1_preview');
    });

    $('#modal_gal_1_save').on('click', function(e) {
      var fileSelect = document.getElementById('gal_1_upload');

        var action = "gal_1";
        var form = document.getElementById('edit_gal_1');
        var data = new FormData(form);
        $.ajax({
          url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
          type: 'POST',
          data: data,
          processData: false,
          contentType: false,
          success: function(res) {
        if(res == true) {
          preview_2(fileSelect, '#label_gal_1');
          alert('บันทึกเรียบร้อย');
        }
        else alert(res);
          },
          error: function(err) {
            alert("Error: ", err)
          },
          crossDoamin: true
        })
    });

    $("#gal_2_upload").change(function() {
      preview(this, '#gal_2_preview');
    });

    $('#modal_gal_2_save').on('click', function(e) {
      var fileSelect = document.getElementById('gal_2_upload');

        var action = "gal_2";
        var form = document.getElementById('edit_gal_2');
        var data = new FormData(form);
        $.ajax({
          url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
          type: 'POST',
          data: data,
          processData: false,
          contentType: false,
          success: function(res) {
        if(res == true) {
          preview_2(fileSelect, '#label_gal_2');
          alert('บันทึกเรียบร้อย');
        }
        else alert(res);
          },
          error: function(err) {
            alert("Error: ", err)
          },
          crossDoamin: true
        })
    });

    $("#gal_3_upload").change(function() {
      preview(this, '#gal_3_preview');
    });

    $('#modal_gal_3_save').on('click', function(e) {
      var fileSelect = document.getElementById('gal_3_upload');

        var action = "gal_3";
        var form = document.getElementById('edit_gal_3');
        var data = new FormData(form);
        $.ajax({
          url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
          type: 'POST',
          data: data,
          processData: false,
          contentType: false,
          success: function(res) {
        if(res == true) {
          preview_2(fileSelect, '#label_gal_3');
          alert('บันทึกเรียบร้อย');
        }
        else alert(res);
          },
          error: function(err) {
            alert("Error: ", err)
          },
          crossDoamin: true
        })
    });

    $("#gal_4_upload").change(function() {
      preview(this, '#gal_4_preview');
    });

    $('#modal_gal_3_save').on('click', function(e) {
      var fileSelect = document.getElementById('gal_4_upload');

        var action = "gal_4";
        var form = document.getElementById('edit_gal_4');
        var data = new FormData(form);
        $.ajax({
          url: 'http://188.166.225.239/edit/' + $('#store').val() + '/' + action,
          type: 'POST',
          data: data,
          processData: false,
          contentType: false,
          success: function(res) {
        if(res == true) {
          preview_2(fileSelect, '#label_gal_4');
          alert('บันทึกเรียบร้อย');
        }
        else alert(res);
          },
          error: function(err) {
            alert("Error: ", err)
          },
          crossDoamin: true
        })
    });

});
</script> 
{{>footer}} 